body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.controls button {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
}